<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/myproject.css">
    <link rel="stylesheet" href="/assets/css/form-project.css">
    <title>My Projects</title>
</head>

<body style="background-color: whitesmoke;">
    <div class="container-fluid">
        <div class="row align-items-center">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E5CDA7;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="home">
                        <img src="/assets/img/logo.png" alt="Logo" width="40">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-primary" href="home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-primary" href="myproject">My Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-primary" href="testimonial">Testimonial</a>
                            </li>
                        </ul>
                        <div class="button">
                            {{ if .IsLoggedIn }}
                            <form action="/logout" method="post">
                                <button type="submit" class="btn btn-outline-primary contact">Logout</button>
                                {{ else }}
                            <a class="btn btn-outline-primary contact" href="/register">Register</a>
                            <a class="btn btn-outline-primary contact" href="/login">Login</a>
                            {{ end }}
                            <a class="btn btn-outline-primary contact" href="/contact">Contact Me</a>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div style="background-color: white;" id="section2" class="project-post section2">
        <div class="d-flex justify-content-center">
            <h1 style="padding-top: 50px; text-align: center;">MY PROJECT</h1>
        </div>
        <div class="mt-2 float-end" style="margin-right: 10px;">
            <a href="form-project" class="btn btn-outline-primary">Add Project</a>
        </div>
        <div class="project-card mt-5 justify-content-center" id="project-card">
            {{ range $val := .Project }}
            <div id="existing-card" class="card-item mt-5 justify-content-center d-flex">
                <div class="project-grid flex-container" id="project-grid">
                    <div class="project-image">
                        <img src="/uploads/{{ $val.Image }} " alt="">
                    </div>
                    <div class="text-content ">
                        <h4 style="float: left; padding-left: 20px;"><a style="text-decoration: none; color: black;"
                                href="/detail/{{ $val.Id }}">{{ $val.Name }}</a></h4>
                        <div class="project-detail"></div>
                        <small>Mulai : {{ $val.Start_date }}</small>
                    </div>
                    <div style="text-align: justify; max-width: 330px;word-wrap: break-word;padding-left: 20px;">
                        <p>{{ $val.Description }}</p>
                        <p>Author: {{ $val.Author }}</p>
                    </div>
                    <div class="logo-bahasa">
                        <i class="fab fa-node-js"></i>
                        <i class="fab fa-android"></i>
                        <i class="fab fa-java"></i>
                    </div>
                    <div class="btn-project gap-3">
                        <form action="/edit/{{ $val.Id }}">
                            <button class="btn1">edit</button>
                        </form>
                        <form action="/delete-project/{{ $val.Id }}" method="post">
                            <button class="btn2">delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <script src="/assets/js/myproject.js"></script>
</body>

</html>